// Variables 
  // Variables should follow 
  // consistent naming
    // Color system
// scss-docs-start color-variables
$black:         #020313 !default;
$green:         #009688 !default;
$dark_green:    #026057 !default;
$white:         #FFF !default;
$white_F9:      #F9F9F9 !default;
$dark_white:    #F0F2F4 !default;
$gray-500:      #ccc !default;
$yellow:        #F69A0F !default;
$blue_sky:      #007EEC !default;
$success:       #89D8B9 !default;
$danger:        #D68686 !default;
$danger_0:        #F15555 !default;
$info:          #73ADDF !default;
$para:          #546274;

// scss-docs-start color-variables