* {
    @extend %box-sizing;

    @extend %margin-0;

    @extend %padding-0;
}

hr {
    @include height(1);

    border: none;
}

.btn-c {
    @include btn;
}

body {
    @extend %font-size-16;
    font-family: font-family(f3), font-family();
}

body::-webkit-scrollbar {
    width: 6px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: $v-1-0-0-Section;
}

body::-webkit-scrollbar-track {
    background: $v-1-0-0-input;
    border-left: 1px solid #ddd;
}

body::-webkit-scrollbar-thumb {
    background-color: $v-1-0-0-Section;
    border-radius: 1px;
}

// start header
header {
    .container {
        nav {
            @include flex-JC-AI-bc;

            padding: 30px 0 !important;

            .logo {
                img {
                    @extend %pointer;
                }
            }

            .btn {
                @include flex-JC-AI-bc;
                button {
                    @extend %padding-10-15;

                    @extend %border-radius-4;
                }
            }
        }
    }
}

// end header
